<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PPDP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ShowPartition</servlet-name>
		<servlet-class>cc.ppdp.view.ShowPartition</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ShowRandomization</servlet-name>
		<servlet-class>cc.ppdp.view.ShowRandomization</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowPartition</servlet-name>
		<url-pattern>/ShowPartition</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowRandomization</servlet-name>
		<url-pattern>/ShowRandomization</url-pattern>
	</servlet-mapping>
</web-app>